<mat-toolbar class="header-toolbar" color="accent">
  <mat-toolbar-row>
    <div class="container">
      <div class="row between-xs middle-xs header-row">
        <nav>
          PlatziStore
          <a
            mat-flat-button
            routerLink="/home"
            routerLinkActive="active"
            color="primary"
            >Inicio</a
          >
          <a
            mat-flat-button
            routerLink="/products"
            routerLinkActive="active"
            color="primary"
            >Productos</a
          >
          <a
            mat-flat-button
            routerLink="/contact"
            routerLinkActive="active"
            color="primary"
            >Contacto</a
          >
        </nav>
        <a mat-flat-button matBadge="4" matBadgeColor="warn" color="primary">
          <mat-icon>shopping_cart</mat-icon>
          Carrito
        </a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
